<div class="col-sm-9">
    <div class="product-information text-left"><!--/product-information-->
        <div class="col-sm-3">

            <div class="left-sidebar">
                <h2>Category</h2>
                <ul class="catalog category-products">
                    <div>{{ akkordeon|raw }}</div>
                </ul>
            </div>
        </div>

        <div class="col-sm-9 okno_mine">


            <div class="product-image-wrapper">
                <div class="single-products">

                    <div class="productinfo text-left">
                        <img src="{{ url('@web/images/products/' ~shema.img) }}" height="50" alt="картинка"/>
                        <h4>{{ shema.name }} </h4>
                        <h4>{{ shema.price }} руб.</h4>
                        <label>количество:</label>
                        <p><input  type="text" value="1"  id="qty" /> шт.</p>
                        <!--a href="{{path('cart/add',{'id': shema.id })}}" data-id="{{ shema.id  }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a-->

                    </div>

                </div>

            </div>




        </div>
        <p><b>Доступен :</b> на складе</p>
        
        <p><b>Brand:</b>  <a href="{{path('category/view', {'id': category.id } )}}" class="btn btn-default">{{ category.name }}</a></p>

        <a href=""><img src="{{ path('../images/product-details/share.png') }}" class="share img-responsive"  alt="" /></a>

    </div><!--/product-information-->
</div>