<div class="container">
    <div class="row ">
        <div class="col-xs-2 col-sm-2 container-fluid">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('@web/site/logout') }}"></a>Home </li>
                    <li><a href="{{ path('http://pullsky.kretivz.pro/web/admin/category/index') }}"></a>Список категорий</li>
                    <li><a href="{{ path('http://pullsky.kretivz.pro/web/admin/category/create') }}"></a>Добавить категорию</li>
                    <li><a href="{{ path('http://pullsky.kretivz.pro/web/admin/product/index') }}"></a>Список товаров</li>
                    <li><a href="{{ path('http://pullsky.kretivz.pro/web/admin/ceilings/index') }}"></a>Список потолков</li>
                    <li><a href="{{ path('http://pullsky.kretivz.pro/web/admin/order/index') }}"></a>Список заказов</li>
                </ul>
            </div>

        </div>
        <div class="col-xs-10 col-sm-10 ">



        </div>
    </div>
</div>
