{{ register_asset_bundle('app/assets/AppAsset') }}
{{ register_asset_bundle('app/assets/ltAppAsset') }}
{{  this.beginPage() }}
<!doctype html>
<html lang="{{app.language}}">
<head>
    <meta charset="{{app.charset}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ html.csrfMetaTags() | raw }}
    <title>{{ html.encode(this.title) }}</title>

    {{ this.head() }}

    <link rel="shortcut icon" href="{{ path('images/ico/favicon.ico') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ path('images/ico/apple-touch-icon-144-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ path('images/ico/apple-touch-icon-114-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ path('images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ path('images/ico/apple-touch-icon-57-precomposed.png') }}">

</head>
<body>
<div class="container">
    <div class="row ">
<section id="header">


            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 menu "> <a href="{{ path('@web/index.php') }}"><img src="{{ url('@web/images/home/logo.png') }}" height="50" alt="картинка"/></a></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 menu">sashazvere@gmail.com<br/><i class="glyphicon glyphicon-euro"> </i><a href="#" onclick="">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; пополнить</a></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 menu"><a href="#" onclick="getCart()"><i class="fa fa-shopping-cart"></i>показать корзину</a><br/>корзина</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 menu"><a href="#" onclick=""><i class="glyphicon glyphicon-bell"></i></a></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 menu">Укр</div>
            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 menu menu_last"><a href="{{ path('@web/site/logout') }}"><i class="fa fa-user "></i> выход</a></li>

        <!--/div>
    </div-->

</section>



        {{ this.beginBody() }}

        <div class="col-xs-2 col-sm-2 container-fluid">
            <div class="navbar">
                <ul class="nav navbar-nav ">
                    <li><a href="{{ path('@web/category/index') }}">Home</a> </li>
                    <li><a href="{{ path('@web/admin/category/index') }}">Список категорий</a></li>
                    <li><a href="{{ path('@web/admin/category/create') }}">Добавить категорию</a></li>
                    <li><a href="{{ path('@web/admin/product/index') }}">Список товаров</a></li>
                    <li><a href="{{ path('@web/admin/ceilings/index') }}">Список потолков</a></li>
                    <li><a href="{{ path('@web/admin/order/index') }}">Список заказов</a></li>
                </ul>
            </div>

        </div>
        <div class="col-xs-10 col-sm-2 ">
                    {{ content | raw }}
        </div>

        {{ this.endBody() }}
    </div>
</div>
        <footer class="footer">
            <div class="container">


            </div>
        </footer>

<!--?php
\yii\bootstrap\Modal::begin([
    'header' => '<h2>Корзина</h2>',
'id' => 'cart',
'size' => 'modal-lg',
'footer' => '<button type="button" class="btn btn-default" data-dismiss="modal">Продолжить покупки</button>
<button type="button" class="btn btn-success">Оформить заказ</button>
<button type="button" class="btn btn-danger" onclick="clearCart()">Очистить корзину</button>'
]);

\yii\bootstrap\Modal::end();
? -->


</body>

</html>
{{ this.endPage() }}